:root {
  --background-color: #111;
  --text-color: #e7e7e7;
}

body {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  text-align: center;
  padding: 20px;
}

h1,
h2 {
  font-weight: 300;
  margin: 0;
}

select {
  border: none;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "source-sans-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 30px;
  outline: none;
  padding: 5px;
}

.clock-container {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.clock {
  display: inline-block;
  margin: 10px;
}

.digit {
  font-size: 32px;
  display: inline-block;
  margin: 0 5px;
}

.separator {
  margin: 0 5px;
}

.am-pm {
  display: inline-block;
  margin-left: 5px;
  vertical-align: 3px;
}

.date {
  margin-top: 10px;
  font-size: 1em;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 1em;
}

footer a {
  color: var(--text-color);
  text-decoration: none;
}
