:root {
  --background-color: #111;
  --text-color: #e7e7e7;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-weight: 300;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

select {
  border: none;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  outline: none;
  padding: 8px;
  margin-bottom: 20px;
}

.city {
  margin: 20px 0;
}

.city h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.date {
  font-size: 20px;
  margin-bottom: 10px;
}

.time {
  font-size: 28px;
}

footer {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

footer a {
  color: var(--text-color);
  text-decoration: none;
}
